/* This Done Make It All Work */

.rainbow {
	font-family: monospace;
	font-size: 24px;
	text-align: center;
	background-image: -webkit-linear-gradient(0deg, #f00, #fa0);
	-webkit-animation: hue 3s infinite linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@-webkit-keyframes hue {
	from {-webkit-filter: hue-rotate(-360deg);}
	to   {-webkit-filter: hue-rotate(0deg);}
}

/* This Don't Make Nothing Work */

a.links {
	font-size: 72px;
}

body {
	color: white;
	text-align: center;
}

div.centre-column{
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 75rem;
}

img.sociallogos {
	height: 1em;
	width: 1em;
}

hr {
	border-style: solid;
	border-width: 0.1rem;
	color: #fff;
}

html {
	background: #000 url("assets/background.jpg") no-repeat center top;
	background-size: cover;
	
}

li {
	display: inline;
	padding: 0rem 1rem 0rem 1rem;
}

ul {
	list-style-type: none;
}