/* This Done Make It All Work */

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.rainbow {
	font-size: 500px;
	font-family: Oswald, sans-serif;
	background-image: -webkit-linear-gradient(0deg, #f00, #fa0);
	line-height: 1;
	margin: 0px;
	-webkit-animation: hue 3s infinite linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@-webkit-keyframes hue {
	from {-webkit-filter: hue-rotate(-360deg);}
	to   {-webkit-filter: hue-rotate(0deg);}
}

/* This Don't Make Nothing Work */

body {
	color: white;
	text-align: center;
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

html {
	background: #000 url("assets/background.jpg");
	background-size: cover;
}

img {
	height: 100px;
	width: 100px;
	padding: 0px 10px 0px 10px;
}

li {
	display: inline;
}

ul {
	list-style-type: none;
	position: relative;
}